#container {
    color:red;
    border: solid;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
} 

.black {
    background-color: black;
}



/* figure out hows divs operate - 25 feb */

.divs {
    flex-basis: calc(100% / 16); /* Each item takes up 1/16th of the container's width */
    height: calc(100% / 16); /* Each item takes up 1/16th of the container's height */
    box-sizing: border-box; /* Ensure borders are included in width and height calculation */
    border: 3px solid black; /* Border for visualization */

}

#btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* .divs:hover { */
    /* background-color: yellow
} */
